Options -MultiViews
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^FR\.]+)$ $1.html [NC,L]
RewriteRule ^([^EN\.]+)$ $1.html [NC,L]

#todo mettre à jours tous les liens, que ça soit smooth
